/* Themes colors */
:root {
    /* #region brown-theme */
        /* Backgrounds */
        --brown-bg-primary: #2E1108;
        --brown-bg-secondary: #703A31;
        --brown-bg-base: #FFFFFF;

        /* Text */
        --brown-text-contrast: #9D1A1A;
        --brown-text-color: #ffffff;

        /* Others */
        --brown-color-accent: #FFA800;
        --brown-color-border: #9D1A1A;
    /* #endregion */

    /*#region grey-theme */
        /* Backgrounds */
        --grey-bg-primary: #000000;
        --grey-bg-secondary: #A3A3A3;
        --grey-bg-base: #FFFFFF;

        /* Text */
        --grey-text-contrast: #000000;
        --grey-text-color: #000000;

        /* Others */
        --grey-color-accent:  #ffffff;;
        --grey-color-border: #A3A3A3;
    /* #endregion */

    /* #region ocean-theme */
        /* Backgrounds */
        --ocean-bg-primary: #013A63;
        --ocean-bg-secondary: #0277BD;
        --ocean-bg-base: #FFFFFF;

        /* Text */
        --ocean-text-contrast: #01579B;
        --ocean-text-color: #FFFFFF;

        /* Others */
        --ocean-color-accent: #00E5FF;
        --ocean-color-border: #01579B;
    /* #endregion */

    /* #region violet-theme */
        /* Backgrounds */
        --violet-bg-primary: #4A0E4E;
        --violet-bg-secondary: #7B1FA2;
        --violet-bg-base: #FFFFFF;

        /* Text */
        --violet-text-contrast: #6A1B9A;
        --violet-text-color: #FFFFFF;

        /* Others */
        --violet-color-accent: #E040FB;
        --violet-color-border: #6A1B9A;
    /* #endregion */
}